# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Testes e lint caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db